USE [master]
GO

CREATE DATABASE [WebDienTu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebThoiTrang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WebDienTu.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebThoiTrang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WebDienTu_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebDienTu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebDienTu]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](200) NOT NULL,
	[Hinh] [nvarchar](100) NULL,
	[GiaSP] [int] NOT NULL,
	[GiaVon] [int] NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[MoTa] [nvarchar](1000) NULL,
	[MaLoai] [int] NOT NULL,
	[MaNCC] [int] NOT NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[MaTT] [int] IDENTITY(1,1) NOT NULL,
	[TenTT] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[NgayDatHang] [datetime] NOT NULL,
	[NgayGiaoHangDuKien] [datetime] NOT NULL,
	[TongTienDonHang] [decimal](10, 2) NOT NULL,
	[TrangThai] [varchar](20) NOT NULL,
	[MaKH] [int] NOT NULL,
	[MaTT] [int] NOT NULL,
	[NgayTao] [datetime] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[ChietKhau] [decimal](18, 2) NULL,
	[PhiVanChuyen] [decimal](18, 2) NULL,
	[DiaChiGiao] [nvarchar](255) NULL,
	[ThueVAT] [decimal](5, 2) NULL,
	[TienThueVAT] [decimal](18, 2) NULL,
	[ThanhTienTruocVAT] [decimal](18, 2) NULL,
	[ThanhTienSauVAT] [decimal](18, 2) NULL,
	[DaThanhToan] [decimal](18, 2) NULL,
	[TrangThaiThanhToan] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyBanHang]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyBanHang](
	[MaNK] [int] IDENTITY(1,1) NOT NULL,
	[NgayGiaoDich] [datetime] NULL,
	[MaDH] [int] NOT NULL,
	[MaTT] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](10, 2) NOT NULL,
	[ThanhTien] [decimal](10, 2) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_NhatKyBanHang]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_NhatKyBanHang] AS
SELECT 
    nk.MaNK,
    nk.NgayGiaoDich,
    nk.MaDH,
    sp.TenSP,
    nk.SoLuong,
    nk.DonGia,
    nk.ThanhTien,
    dh.TrangThai,
    tt.TenTT as ThanhToan,
    sp.GiaVon,
    sp.GiaSP,
    (nk.ThanhTien - (sp.GiaVon * nk.SoLuong)) as LoiNhuan
FROM NhatKyBanHang nk
JOIN SanPham sp ON nk.MaSP = sp.MaSP
JOIN DonHang dh ON nk.MaDH = dh.MaDH
JOIN ThanhToan tt ON nk.MaTT = tt.MaTT;
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](20) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[TenKhachHang] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SDT] [varchar](11) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[RoleID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ThongKeKhachHang]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_ThongKeKhachHang] AS
SELECT 
    kh.MaKH,
    kh.TenKhachHang,
    kh.Email,
    kh.SDT,
    COUNT(dh.MaDH) as SoDonHang,
    SUM(dh.TongTienDonHang) as TongGiaTri,
    MAX(dh.NgayDatHang) as MuaGanNhat
FROM KhachHang kh
LEFT JOIN DonHang dh ON kh.MaKH = dh.MaKH
    AND dh.TrangThai = 'dagiao'
GROUP BY kh.MaKH, kh.TenKhachHang, kh.Email, kh.SDT;
GO
/****** Object:  Table [dbo].[Loai]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
	[Hinh] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NCC]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCC](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[SDT] [varchar](11) NOT NULL,
	[Diachi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaCTDH] [int] IDENTITY(1,1) NOT NULL,
	[MaDH] [int] NOT NULL,
	[MaTT] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuongMua] [int] NOT NULL,
	[TongTien] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTDH] ASC,
	[MaDH] ASC,
	[MaTT] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ThongKeSanPham]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_ThongKeSanPham] AS
SELECT 
    sp.MaSP,
    sp.TenSP,
    sp.Hinh,
    l.TenLoai as LoaiSP,
    ncc.TenNCC as NhaCungCap,
    COUNT(DISTINCT ctdh.MaDH) as SoDonHang,
    SUM(ctdh.SoLuongMua) as SoLuongBan,
    SUM(ctdh.TongTien) as DoanhThu,
    sp.GiaVon,
    SUM(ctdh.TongTien - (ctdh.SoLuongMua * sp.GiaVon)) as LoiNhuan,
    MAX(dh.NgayDatHang) as BanGanNhat
FROM SanPham sp
LEFT JOIN ChiTietDonHang ctdh ON sp.MaSP = ctdh.MaSP
LEFT JOIN DonHang dh ON ctdh.MaDH = dh.MaDH AND dh.TrangThai = 'dagiao'
JOIN Loai l ON sp.MaLoai = l.MaLoai
JOIN NCC ncc ON sp.MaNCC = ncc.MaNCC
GROUP BY sp.MaSP, sp.TenSP, sp.Hinh, l.TenLoai, ncc.TenNCC, sp.GiaVon;
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[NgayNhap] [datetime] NULL,
	[MaNCC] [int] NOT NULL,
	[TongTien] [decimal](10, 2) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NguoiNhap] [int] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[MaCTPN] [int] IDENTITY(1,1) NOT NULL,
	[MaPN] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](10, 2) NOT NULL,
	[ThanhTien] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_TonKho]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View theo dõi tồn kho
CREATE   VIEW [dbo].[v_TonKho] AS
SELECT 
    sp.MaSP,
    sp.TenSP,
    l.TenLoai as LoaiSP,
    ncc.TenNCC as NhaCungCap,
    sp.SoLuongTon,
    sp.GiaVon,
    -- Tính số lượng đã bán trong 30 ngày gần nhất
    ISNULL((
        SELECT SUM(ctdh.SoLuongMua)
        FROM ChiTietDonHang ctdh
        JOIN DonHang dh ON ctdh.MaDH = dh.MaDH
        WHERE ctdh.MaSP = sp.MaSP
            AND dh.TrangThai = 'dagiao'
            AND dh.NgayDatHang >= DATEADD(DAY, -30, GETDATE())
    ), 0) as DaBan30Ngay,
    -- Kiểm tra số lượng đang đặt trong phiếu nhập
    ISNULL((
        SELECT SUM(ctpn.SoLuong)
        FROM ChiTietPhieuNhap ctpn
        JOIN PhieuNhap pn ON ctpn.MaPN = pn.MaPN
        WHERE ctpn.MaSP = sp.MaSP
            AND (pn.TrangThai = N'Đang đặt' OR pn.TrangThai IS NULL)
    ), 0) as DangDatHang
FROM SanPham sp
JOIN Loai l ON sp.MaLoai = l.MaLoai
JOIN NCC ncc ON sp.MaNCC = ncc.MaNCC;
GO
/****** Object:  View [dbo].[v_DoanhThuSanPham]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View tổng hợp doanh thu theo sản phẩm
CREATE VIEW [dbo].[v_DoanhThuSanPham] AS
SELECT 
    sp.MaSP,
    sp.TenSP,
    COUNT(DISTINCT nk.MaDH) as SoDonHang,
    SUM(nk.SoLuong) as TongSoLuongBan,
    SUM(nk.ThanhTien) as TongDoanhThu
FROM SanPham sp
LEFT JOIN NhatKyBanHang nk ON sp.MaSP = nk.MaSP
GROUP BY sp.MaSP, sp.TenSP
GO
/****** Object:  Table [dbo].[CongNo]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongNo](
	[MaCN] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[NgayPhatSinh] [datetime] NULL,
	[SoTienNo] [decimal](15, 2) NOT NULL,
	[DaThanhToan] [decimal](15, 2) NOT NULL,
	[ConLai] [decimal](15, 2) NOT NULL,
	[HanThanhToan] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_CongNoKhachHang]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View tổng hợp công nợ khách hàng
CREATE VIEW [dbo].[v_CongNoKhachHang] AS
SELECT 
    kh.MaKH,
    kh.TenKhachHang,
    SUM(cn.SoTienNo) as TongNo,
    SUM(cn.DaThanhToan) as TongDaThanhToan,
    SUM(cn.ConLai) as TongConLai
FROM KhachHang kh
LEFT JOIN CongNo cn ON kh.MaKH = cn.MaKH
GROUP BY kh.MaKH, kh.TenKhachHang
GO
/****** Object:  View [dbo].[v_DoanhThuTheoGio]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_DoanhThuTheoGio] AS
SELECT 
    DATEPART(HOUR, dh.NgayDatHang) as Gio,
    COUNT(DISTINCT dh.MaDH) as SoDonHang,
    SUM(dh.TongTienDonHang) as DoanhThu,
    COUNT(DISTINCT dh.MaKH) as SoKhachHang
FROM DonHang dh
WHERE dh.TrangThai = 'dagiao'
GROUP BY DATEPART(HOUR, dh.NgayDatHang);
GO
/****** Object:  View [dbo].[v_DoanhThuTheoThang]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_DoanhThuTheoThang] AS
SELECT 
    DATEPART(MONTH, dh.NgayDatHang) as Thang,
    DATEPART(YEAR, dh.NgayDatHang) as Nam,
    COUNT(DISTINCT dh.MaDH) as SoDonHang,
    SUM(dh.TongTienDonHang) as TongDoanhThu,
    COUNT(DISTINCT dh.MaKH) as SoKhachHang,
    SUM(dh.TongTienDonHang) / COUNT(DISTINCT dh.MaDH) as TrungBinhDonHang,
    SUM(ct.SoLuongMua * sp.GiaVon) as TongChiPhi
FROM DonHang dh
JOIN ChiTietDonHang ct ON dh.MaDH = ct.MaDH
JOIN SanPham sp ON ct.MaSP = sp.MaSP
WHERE dh.TrangThai = 'dagiao'
GROUP BY 
    DATEPART(MONTH, dh.NgayDatHang),
    DATEPART(YEAR, dh.NgayDatHang);
GO
/****** Object:  View [dbo].[v_DoanhThuTheoLoai]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_DoanhThuTheoLoai] AS
SELECT 
    l.MaLoai,
    l.TenLoai,
    COUNT(DISTINCT dh.MaDH) as SoDonHang,
    SUM(ctdh.SoLuongMua) as SoLuongBan,
    SUM(ctdh.TongTien) as DoanhThu,
    SUM(ctdh.SoLuongMua * sp.GiaVon) as TongChiPhi
FROM DonHang dh
JOIN ChiTietDonHang ctdh ON dh.MaDH = ctdh.MaDH
JOIN SanPham sp ON ctdh.MaSP = sp.MaSP
JOIN Loai l ON sp.MaLoai = l.MaLoai
WHERE dh.TrangThai = 'dagiao'
GROUP BY l.MaLoai, l.TenLoai;
GO
/****** Object:  Table [dbo].[Backup_History]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Backup_History](
	[BackupID] [int] IDENTITY(1,1) NOT NULL,
	[BackupName] [nvarchar](100) NOT NULL,
	[BackupDate] [datetime] NULL,
	[BackupPath] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[BackupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoCao]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCao](
	[MaBaoCao] [int] IDENTITY(1,1) NOT NULL,
	[LoaiBaoCao] [nvarchar](50) NULL,
	[ThoiGianBatDau] [date] NULL,
	[ThoiGianKetThuc] [date] NULL,
	[NgayLap] [datetime] NULL,
	[NguoiLap] [int] NULL,
	[TongDoanhThu] [decimal](15, 2) NULL,
	[TongChiPhi] [decimal](15, 2) NULL,
	[LoiNhuan] [decimal](15, 2) NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaoCao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoCaoTonKho]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoTonKho](
	[MaBCTK] [int] IDENTITY(1,1) NOT NULL,
	[NgayBaoCao] [date] NOT NULL,
	[MaSP] [int] NOT NULL,
	[TonDau] [int] NOT NULL,
	[NhapTrongKy] [int] NOT NULL,
	[XuatTrongKy] [int] NOT NULL,
	[TonCuoi] [int] NOT NULL,
	[GiaTriTonKho] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBCTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietCongNo]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietCongNo](
	[MaCTCN] [int] IDENTITY(1,1) NOT NULL,
	[MaCN] [int] NOT NULL,
	[MaDH] [int] NULL,
	[MaTT] [int] NULL,
	[NgayPhatSinh] [datetime] NULL,
	[SoTien] [decimal](15, 2) NOT NULL,
	[LoaiPhatSinh] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietGioHang]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietGioHang](
	[MaCTGH] [int] IDENTITY(1,1) NOT NULL,
	[MaGioHang] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](10, 2) NOT NULL,
	[ThanhTien] [decimal](10, 2) NOT NULL,
	[NgayThem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuXuat]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuXuat](
	[MaCTPX] [int] IDENTITY(1,1) NOT NULL,
	[MaPX] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](10, 2) NOT NULL,
	[ThanhTien] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoanhThu]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoanhThu](
	[MaDT] [int] IDENTITY(1,1) NOT NULL,
	[NgayBaoCao] [date] NOT NULL,
	[SoDonHang] [int] NOT NULL,
	[TongDoanhThu] [decimal](15, 2) NOT NULL,
	[TongChiPhi] [decimal](15, 2) NOT NULL,
	[LoiNhuan] [decimal](15, 2) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaGioHang] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[TongTien] [decimal](10, 2) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGioHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [int] IDENTITY(1,1) NOT NULL,
	[TenKM] [nvarchar](200) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[NgayBatDau] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NOT NULL,
	[PhanTramGiam] [float] NOT NULL,
	[DieuKienApDung] [decimal](10, 2) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuGia]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuGia](
	[MaLSG] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NOT NULL,
	[GiaCu] [decimal](10, 2) NOT NULL,
	[GiaMoi] [decimal](10, 2) NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[GhiChu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLSG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuat]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuat](
	[MaPX] [int] IDENTITY(1,1) NOT NULL,
	[NgayXuat] [datetime] NULL,
	[LyDo] [nvarchar](200) NULL,
	[TongTien] [decimal](10, 2) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NguoiXuat] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham_KhuyenMai]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham_KhuyenMai](
	[MaSP] [int] NOT NULL,
	[MaKM] [int] NOT NULL,
	[NgayApDung] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC,
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuThich]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuThich](
	[MaKH] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[NgayThem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Backup_History] ADD  DEFAULT (getdate()) FOR [BackupDate]
GO
ALTER TABLE [dbo].[BaoCao] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[BaoCaoTonKho] ADD  DEFAULT ((0)) FOR [TonDau]
GO
ALTER TABLE [dbo].[BaoCaoTonKho] ADD  DEFAULT ((0)) FOR [NhapTrongKy]
GO
ALTER TABLE [dbo].[BaoCaoTonKho] ADD  DEFAULT ((0)) FOR [XuatTrongKy]
GO
ALTER TABLE [dbo].[BaoCaoTonKho] ADD  DEFAULT ((0)) FOR [TonCuoi]
GO
ALTER TABLE [dbo].[BaoCaoTonKho] ADD  DEFAULT ((0)) FOR [GiaTriTonKho]
GO
ALTER TABLE [dbo].[ChiTietCongNo] ADD  DEFAULT (getdate()) FOR [NgayPhatSinh]
GO
ALTER TABLE [dbo].[ChiTietGioHang] ADD  DEFAULT (getdate()) FOR [NgayThem]
GO
ALTER TABLE [dbo].[CongNo] ADD  DEFAULT (getdate()) FOR [NgayPhatSinh]
GO
ALTER TABLE [dbo].[CongNo] ADD  DEFAULT ((0)) FOR [SoTienNo]
GO
ALTER TABLE [dbo].[CongNo] ADD  DEFAULT ((0)) FOR [DaThanhToan]
GO
ALTER TABLE [dbo].[CongNo] ADD  DEFAULT ((0)) FOR [ConLai]
GO
ALTER TABLE [dbo].[DoanhThu] ADD  DEFAULT ((0)) FOR [SoDonHang]
GO
ALTER TABLE [dbo].[DoanhThu] ADD  DEFAULT ((0)) FOR [TongDoanhThu]
GO
ALTER TABLE [dbo].[DoanhThu] ADD  DEFAULT ((0)) FOR [TongChiPhi]
GO
ALTER TABLE [dbo].[DoanhThu] ADD  DEFAULT ((0)) FOR [LoiNhuan]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [NgayDatHang]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [NgayGiaoHangDuKien]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [ThueVAT]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [TienThueVAT]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [ThanhTienTruocVAT]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [ThanhTienSauVAT]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [DaThanhToan]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ('chuathanhtoan') FOR [TrangThaiThanhToan]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[LichSuGia] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[NhatKyBanHang] ADD  DEFAULT (getdate()) FOR [NgayGiaoDich]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT (N'Đang đặt') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuXuat] ADD  DEFAULT (getdate()) FOR [NgayXuat]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[SanPham_KhuyenMai] ADD  DEFAULT (getdate()) FOR [NgayApDung]
GO
ALTER TABLE [dbo].[YeuThich] ADD  DEFAULT (getdate()) FOR [NgayThem]
GO
ALTER TABLE [dbo].[BaoCao]  WITH CHECK ADD FOREIGN KEY([NguoiLap])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[BaoCaoTonKho]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietCongNo]  WITH CHECK ADD FOREIGN KEY([MaCN])
REFERENCES [dbo].[CongNo] ([MaCN])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD FOREIGN KEY([MaGioHang])
REFERENCES [dbo].[GioHang] ([MaGioHang])
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat]  WITH CHECK ADD FOREIGN KEY([MaPX])
REFERENCES [dbo].[PhieuXuat] ([MaPX])
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[CongNo]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaTT])
REFERENCES [dbo].[ThanhToan] ([MaTT])
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[LichSuGia]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[NhatKyBanHang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NCC] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([NguoiNhap])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD FOREIGN KEY([NguoiXuat])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[Loai] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NCC] ([MaNCC])
GO
ALTER TABLE [dbo].[SanPham_KhuyenMai]  WITH CHECK ADD FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMai] ([MaKM])
GO
ALTER TABLE [dbo].[SanPham_KhuyenMai]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[YeuThich]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[YeuThich]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[BaoCao]  WITH CHECK ADD CHECK  (([LoaiBaoCao]='BaoCaoKetQuaKinhDoanh' OR [LoaiBaoCao]='BangCanDoiKeToan' OR [LoaiBaoCao]='BaoCaoLuuChuyenTienTe'))
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD CHECK  (([TrangThaiThanhToan]='chuathanhtoan' OR [TrangThaiThanhToan]='dathanhtoan'))
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [CK_DonHang_TrangThai] CHECK  (([TrangThai]='trahang' OR [TrangThai]='dahuy' OR [TrangThai]='chuagiao' OR [TrangThai]='dagiao'))
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [CK_DonHang_TrangThai]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD CHECK  (([PhanTramGiam]>(0) AND [PhanTramGiam]<=(100)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([GiaSP]>(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([GiaVon]>(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([SoLuongTon]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoCongNo]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP lấy công nợ của khách hàng
CREATE PROCEDURE [dbo].[sp_BaoCaoCongNo]
    @MaKH INT = NULL,
    @TrangThai NVARCHAR(50) = NULL
AS
BEGIN
    SELECT 
        cn.MaCN,
        kh.TenKhachHang,
        cn.NgayPhatSinh,
        cn.SoTienNo,
        cn.DaThanhToan,
        cn.ConLai,
        cn.TrangThai
    FROM CongNo cn
    JOIN KhachHang kh ON cn.MaKH = kh.MaKH
    WHERE (@MaKH IS NULL OR cn.MaKH = @MaKH)
    AND (@TrangThai IS NULL OR cn.TrangThai = @TrangThai)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoDoanhThu]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP lấy báo cáo doanh thu theo khoảng thời gian
CREATE PROCEDURE [dbo].[sp_BaoCaoDoanhThu]
    @TuNgay DATE,
    @DenNgay DATE
AS
BEGIN
    SELECT 
        NgayBaoCao,
        SoDonHang,
        TongDoanhThu,
        TongChiPhi,
        LoiNhuan
    FROM DoanhThu
    WHERE NgayBaoCao BETWEEN @TuNgay AND @DenNgay
    ORDER BY NgayBaoCao DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoDoanhThuNgay]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BaoCaoDoanhThuNgay]
    @NgayBaoCao DATE
AS
BEGIN
    -- Thống kê tổng quan
    SELECT 
        COUNT(DISTINCT dh.MaDH) as SoDonHang,
        SUM(dh.TongTienDonHang) as DoanhThu,
        COUNT(DISTINCT dh.MaKH) as SoKhachHang,
        CASE 
            WHEN COUNT(DISTINCT dh.MaDH) > 0 
            THEN SUM(dh.TongTienDonHang) / COUNT(DISTINCT dh.MaDH)
            ELSE 0 
        END as TrungBinhDonHang
    FROM DonHang dh
    WHERE CONVERT(DATE, dh.NgayDatHang) = @NgayBaoCao
        AND dh.TrangThai = 'dagiao';

    -- Thống kê theo giờ
    SELECT 
        DATEPART(HOUR, dh.NgayDatHang) as Gio,
        SUM(dh.TongTienDonHang) as DoanhThu
    FROM DonHang dh
    WHERE CONVERT(DATE, dh.NgayDatHang) = @NgayBaoCao
        AND dh.TrangThai = 'dagiao'
    GROUP BY DATEPART(HOUR, dh.NgayDatHang)
    ORDER BY Gio;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoDoanhThuThang]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BaoCaoDoanhThuThang]
    @Thang INT,
    @Nam INT
AS
BEGIN
    -- Thống kê tổng quan tháng hiện tại
    SELECT 
        COUNT(DISTINCT dh.MaDH) as SoDonHang,
        SUM(dh.TongTienDonHang) as TongDoanhThu,
        COUNT(DISTINCT dh.MaKH) as SoKhachHang,
        SUM(ct.SoLuongMua * sp.GiaVon) as TongChiPhi,
        SUM(dh.TongTienDonHang) - SUM(ct.SoLuongMua * sp.GiaVon) as LoiNhuan
    FROM DonHang dh
    JOIN ChiTietDonHang ct ON dh.MaDH = ct.MaDH
    JOIN SanPham sp ON ct.MaSP = sp.MaSP
    WHERE MONTH(dh.NgayDatHang) = @Thang 
        AND YEAR(dh.NgayDatHang) = @Nam
        AND dh.TrangThai = 'dagiao';

    -- Thống kê theo ngày trong tháng
    SELECT 
        DAY(dh.NgayDatHang) as Ngay,
        COUNT(DISTINCT dh.MaDH) as SoDonHang,
        SUM(dh.TongTienDonHang) as DoanhThu
    FROM DonHang dh
    WHERE MONTH(dh.NgayDatHang) = @Thang 
        AND YEAR(dh.NgayDatHang) = @Nam
        AND dh.TrangThai = 'dagiao'
    GROUP BY DAY(dh.NgayDatHang)
    ORDER BY Ngay;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoDoanhThuTheoLoai]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BaoCaoDoanhThuTheoLoai]
    @TuNgay DATE,
    @DenNgay DATE
AS
BEGIN
    SELECT 
        l.MaLoai,
        l.TenLoai as LoaiSP,
        COUNT(DISTINCT dh.MaDH) as SoDonHang,
        SUM(ctdh.SoLuongMua) as SoLuongBan,
        SUM(ctdh.TongTien) as DoanhThu,
        SUM(ctdh.SoLuongMua * sp.GiaVon) as TongChiPhi
    FROM DonHang dh
    JOIN ChiTietDonHang ctdh ON dh.MaDH = ctdh.MaDH
    JOIN SanPham sp ON ctdh.MaSP = sp.MaSP
    JOIN Loai l ON sp.MaLoai = l.MaLoai
    WHERE dh.TrangThai = 'dagiao'
        AND dh.NgayDatHang BETWEEN @TuNgay AND @DenNgay
    GROUP BY l.MaLoai, l.TenLoai
    ORDER BY DoanhThu DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoNhatKyBanHang]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BaoCaoNhatKyBanHang]
    @TuNgay DATE,
    @DenNgay DATE,
    @TrangThai NVARCHAR(50) = NULL
AS
BEGIN
    -- Thống kê tổng quan
    SELECT 
        COUNT(DISTINCT MaDH) as SoDonHang,
        SUM(ThanhTien) as DoanhThu,
        SUM(SoLuong) as SoSanPham,
        SUM(LoiNhuan) as LoiNhuan
    FROM v_NhatKyBanHang
    WHERE NgayGiaoDich BETWEEN @TuNgay AND @DenNgay
        AND (@TrangThai IS NULL OR TrangThai = @TrangThai);

    -- Chi tiết nhật ký bán hàng
    SELECT *
    FROM v_NhatKyBanHang
    WHERE NgayGiaoDich BETWEEN @TuNgay AND @DenNgay
        AND (@TrangThai IS NULL OR TrangThai = @TrangThai)
    ORDER BY NgayGiaoDich DESC;

    -- Thống kê theo ngày
    SELECT 
        CAST(NgayGiaoDich AS DATE) as Ngay,
        COUNT(DISTINCT MaDH) as SoDonHang,
        SUM(ThanhTien) as DoanhThu,
        SUM(SoLuong) as SoSanPham
    FROM v_NhatKyBanHang
    WHERE NgayGiaoDich BETWEEN @TuNgay AND @DenNgay
        AND (@TrangThai IS NULL OR TrangThai = @TrangThai)
    GROUP BY CAST(NgayGiaoDich AS DATE)
    ORDER BY Ngay;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoSanPhamSapHet]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure báo cáo sản phẩm sắp hết
CREATE PROCEDURE [dbo].[sp_BaoCaoSanPhamSapHet]
    @MucTonToiThieu INT = 10
AS
BEGIN
    -- Thống kê tổng quan
    SELECT 
        COUNT(CASE WHEN SoLuongTon = 0 THEN 1 END) as HetHang,
        COUNT(CASE WHEN SoLuongTon BETWEEN 1 AND @MucTonToiThieu THEN 1 END) as SapHet,
        COUNT(CASE WHEN DangDatHang > 0 THEN 1 END) as DaDatHang,
        SUM(CASE 
            WHEN DaBan30Ngay > 0 
            THEN CEILING(DaBan30Ngay * 1.5) - SoLuongTon
            ELSE @MucTonToiThieu - SoLuongTon
        END * GiaVon) as GiaTriCanNhap
    FROM v_TonKho
    WHERE SoLuongTon <= @MucTonToiThieu;

    -- Chi tiết sản phẩm sắp hết
    SELECT 
        MaSP,
        TenSP,
        LoaiSP,
        NhaCungCap,
        SoLuongTon,
        DaBan30Ngay,
        GiaVon,
        CASE 
            WHEN DaBan30Ngay > 0 
            THEN CEILING(DaBan30Ngay * 1.5) - SoLuongTon
            ELSE @MucTonToiThieu - SoLuongTon
        END as SoLuongCanNhap,
        CASE 
            WHEN SoLuongTon = 0 THEN N'Hết hàng'
            ELSE N'Sắp hết'
        END as TrangThai,
        DangDatHang
    FROM v_TonKho
    WHERE SoLuongTon <= @MucTonToiThieu
    ORDER BY SoLuongTon;

    -- Thống kê theo loại sản phẩm
    SELECT 
        LoaiSP,
        COUNT(*) as SoLuong
    FROM v_TonKho
    WHERE SoLuongTon <= @MucTonToiThieu
    GROUP BY LoaiSP
    ORDER BY SoLuong DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoTonKhoSanPham]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP lấy báo cáo tồn kho theo sản phẩm
CREATE PROCEDURE [dbo].[sp_BaoCaoTonKhoSanPham]
    @MaSP INT = NULL
AS
BEGIN
    SELECT 
        sp.MaSP,
        sp.TenSP,
        sp.SoLuongTon,
        ISNULL(bctk.NhapTrongKy, 0) as NhapTrongKy,
        ISNULL(bctk.XuatTrongKy, 0) as XuatTrongKy
    FROM SanPham sp
    LEFT JOIN BaoCaoTonKho bctk ON sp.MaSP = bctk.MaSP
    WHERE (@MaSP IS NULL OR sp.MaSP = @MaSP)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoTopKhachHang]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BaoCaoTopKhachHang]
    @TuNgay DATE,
    @DenNgay DATE,
    @Top INT = 10
AS
BEGIN
    -- Top khách hàng theo doanh thu
    WITH KhachHangTrongKy AS (
        SELECT 
            kh.MaKH,
            kh.TenKhachHang,
            kh.Email,
            kh.SDT,
            COUNT(dh.MaDH) as SoDonHang,
            SUM(dh.TongTienDonHang) as TongGiaTri,
            MAX(dh.NgayDatHang) as MuaGanNhat
        FROM KhachHang kh
        LEFT JOIN DonHang dh ON kh.MaKH = dh.MaKH
            AND dh.TrangThai = 'dagiao'
            AND dh.NgayDatHang BETWEEN @TuNgay AND @DenNgay
        GROUP BY kh.MaKH, kh.TenKhachHang, kh.Email, kh.SDT
    )
    SELECT TOP (@Top) *,
           CASE 
               WHEN SUM(TongGiaTri) OVER() > 0 
               THEN (TongGiaTri * 100.0 / SUM(TongGiaTri) OVER())
               ELSE 0 
           END as TyTrong
    FROM KhachHangTrongKy
    WHERE TongGiaTri > 0
    ORDER BY TongGiaTri DESC;

    -- Thống kê theo ngày
    SELECT 
        CAST(dh.NgayDatHang as DATE) as Ngay,
        COUNT(DISTINCT dh.MaDH) as SoDonHang,
        SUM(dh.TongTienDonHang) as DoanhThu
    FROM DonHang dh
    WHERE dh.TrangThai = 'dagiao'
        AND dh.NgayDatHang BETWEEN @TuNgay AND @DenNgay
    GROUP BY CAST(dh.NgayDatHang as DATE)
    ORDER BY Ngay;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoTopSanPham]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BaoCaoTopSanPham]
    @TuNgay DATE,
    @DenNgay DATE,
    @Top INT = 10,
    @TrangThai NVARCHAR(50) = NULL
AS
BEGIN
    -- Thống kê sản phẩm trong kỳ
    WITH SanPhamTrongKy AS (
        SELECT 
            sp.MaSP,
            sp.TenSP,
            sp.Hinh,
            l.TenLoai as LoaiSP,
            COUNT(DISTINCT ctdh.MaDH) as SoDonHang,
            SUM(ctdh.SoLuongMua) as SoLuongBan,
            SUM(ctdh.TongTien) as DoanhThu
        FROM SanPham sp
        LEFT JOIN ChiTietDonHang ctdh ON sp.MaSP = ctdh.MaSP
        LEFT JOIN DonHang dh ON ctdh.MaDH = dh.MaDH
            AND dh.NgayDatHang BETWEEN @TuNgay AND @DenNgay
            AND (@TrangThai IS NULL OR dh.TrangThai = @TrangThai)
        JOIN Loai l ON sp.MaLoai = l.MaLoai
        GROUP BY sp.MaSP, sp.TenSP, sp.Hinh, l.TenLoai
    )
    SELECT TOP (@Top)
        *,
        CASE 
            WHEN SUM(DoanhThu) OVER() > 0 
            THEN (DoanhThu * 100.0 / SUM(DoanhThu) OVER())
            ELSE 0 
        END as TyTrong
    FROM SanPhamTrongKy
    WHERE DoanhThu > 0
    ORDER BY DoanhThu DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyCongNo_HuyDonHang]    Script Date: 9/4/2025 9:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_XuLyCongNo_HuyDonHang]
    @MaDH int,
    @MaTT int
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION

        -- Cập nhật trạng thái công nợ
        UPDATE cn
        SET 
            TrangThai = N'Đã hủy',
            ConLai = 0
        FROM CongNo cn
        JOIN ChiTietCongNo ct ON cn.MaCN = ct.MaCN
        WHERE ct.MaDH = @MaDH AND ct.MaTT = @MaTT;

        -- Thêm chi tiết hủy đơn hàng
        INSERT INTO ChiTietCongNo (MaCN, MaDH, MaTT, NgayPhatSinh, SoTien, LoaiPhatSinh, GhiChu)
        SELECT 
            cn.MaCN,
            @MaDH,
            @MaTT,
            GETDATE(),
            0,
            N'Hủy đơn hàng',
            N'Hủy đơn hàng ' + CAST(@MaDH as nvarchar(10))
        FROM CongNo cn
        JOIN ChiTietCongNo ct ON cn.MaCN = ct.MaCN
        WHERE ct.MaDH = @MaDH AND ct.MaTT = @MaTT;

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        THROW;
    END CATCH
END
GO
USE [master]
GO
